<div class="main-dashboard-box">
    <div class="main-box">
    <div class="box-items">
        <p>Total Store</p> <br>
        <p>5</p>
    </div>
</div>
<div class="main-box">
    <div class="box-items">
        <p>Total Active</p> <br>
        <p>5</p>
    </div>
</div>
<div class="main-box">
    <div class="box-items">
        <p>Total Pending</p> <br>
        <p>5</p>
    </div>
</div>
<div class="main-box">
    <div class="box-items">
        <p>Total Block</p> <br>
        <p>5</p>
    </div>
</div>
</div>